@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><center>Rent a car Beograd</center></h1>
    <img width="100%" src="~/Content/Photos/iznajmljivanje-automobila.jpg" />
    <p class="lead">
        Iznajmljivanje automobila
        rent-a-car-belgrade
        Kao što joj i sâmo „strano ime“ govori, usluga koja podrazumeva iznajmljivanje automobila na kraći ili duži period nastala je negde na engleskom govornom području, tačnije u Americi. „Rent a car“ u svom bukvalnom, ali i praktičnom prevodu znači – „Iznajmi automobil“. Ovaj posao se pod ovim imenom razvio kod nas i postao popularan tako da se ovaj strani termin „odomaćio“, i sve firme koje se bave ovim poslom ni ne pokušavaj taj termin da promene. Vratimo se na istoriju ovog posla kako bismo se malo bolje i detaljnije upoznali sa ovom temom – osoba koja se smatra odgovornom za ideju razvoja iznajmljivanja automobila, odnosno „rent a car“ kao posla jeste Džo Sanders (Joe Saundres).
        </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MALA GRADSKA VOZILA</h2>
        <p>
            potrošnja goriva - 5l/100 km
            • manualni mjenjač
            • 2 vrata / 2 sjedala + tovarni prostor

            • cijena najma: 1 dan / 30 eura
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>PUTNIČKA KOMBI VOZILA</h2>
        
        <p>
            iznimno mala potrošnja goriva / cca 4l/10km
            • nova ergonomska / komforna vozila
            • 5 vrata
            • cijena najma: 1 dan / 19 eura
            • najam za veći broj dana - odobravamo popust!
        </p>
    </div>
    <div class="col-md-4">
        <h2>TERETNA KOMBI VOZILA</h2>
        <p>
        • B - kategorija / nosivost do 1.300 kg
        • 3 sjedala + tovarni prostor: 4x2m
        • potrošnja goriva - 8l/100 km

        • cijena najma: 1 dan / 40 eura
        • najam za veći broj dana - odobravamo popust!
        </p>
    </div>
</div>